h2 {
    padding: 0;
    margin-top: 0;
}

#canvas-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
canvas {
    display: block; /* remove default inline spacing */
}

.analysisUI {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background: #567;
    .buttonList {
        background: darkslategray;
        overflow-y: scroll;
        height: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        button {
            cursor: pointer;
            text-align: left;
            color: white;
            background: #006;
            border: none;
            border-bottom: 1px solid black;
            padding: 5px 10px;
            &:hover {
                background: #049;
            }
            &:active {
                background: #00f;
            }
        }
    }
}

input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 48px;
    &::-webkit-slider-runnable-track {
        background: #053a5f;
        height: 0.5rem;
    }
    &::-moz-range-track {
        background: #053a5f;
        height: 0.5rem;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -12px;
        background-color: #5cd5eb;
        height: 32px;
        width: 16px;
        border-radius: 3px;
    }
    &::-moz-range-thumb {
        border: none;
        background-color: #5cd5eb;
        height: 32px;
        width: 16px;
        border-radius: 3px;
    }
}

strong.displayValue {
    color: #fe8;
    padding: 0 5px;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
